$font-stack: Verdana, Geneva, Tahoma, sans-serif;

$font-small: 1.25rem;
$font-medium: 1.75rem;

$white: #FFF;
$light-purple: #9381FF;
$dark-purple: #534C71;
$light-blue: #B8B8FF;
$light-orange: #FFA970;
$dark-orange: #FF8A3C;
$red: #D62828;

* {
    box-sizing: border-box;
}

button {
    font-size: $font-small;
}

html,
body {
    height: 100%;
}

main,
.to-do-list,
.to-do-list__input,
.to-do-list__items__item {
    display: flex;
}

button,
input[type=checkbox] {
    cursor: pointer;
    outline: none;
}

.to-do-list__input,
.to-do-list__items__item {
    button {
        border: none;
        background-color: transparent;
    }
}

#to-do-list__input,
.to-do-list__items {
    color: $dark-purple;
    width: 100%;
}

.to-do-list,
.to-do-list__input,
.to-do-list__items,
.to-do-list__clear-all {
    border-radius: 0.625rem;
}

.to-do-list__input__add,
.to-do-list__items__item__edit {
    color: $light-purple;
    margin-left: 2em;
}

.to-do-list__input__add,
.to-do-list__items__item__delete,
.to-do-list__items__item__edit {
    &:hover {
        text-shadow: 0.5px 0.5px 1px rgb(214, 199, 199);
    }

    &:active {
        text-shadow: 0.5px 0.5px 3px rgb(214, 199, 199);
    }
}

.to-do-list {
    font-family: $font-stack;
    background-color: $light-purple;
    flex-direction: column;
    align-items: center;
    padding: 1.5em 3em;
}

.to-do-list__input {
    background-color: $white;
    margin-top: 1em;
    margin-bottom: 1em;
    
    input[type=text] {
        font-size: $font-medium;
        background: transparent;
        padding: 0.5em 0 0.5em 1em;
        border: none;
        outline: none;
        flex-grow: 1;
    }
}

.to-do-list__items {
    background-color: $white;
    list-style: none;
    padding-left: 0;
}

.to-do-list__items__item {
    align-items: center;
    padding: 0.1em 0.8em;
    font-size: $font-small;
}

input.to-do-list__items__item__checkbox {
    margin-right: 1.5em;
    width: $font-small;
    height: $font-small;

    &::before {
        border-radius: 3px;
    }

    &:hover {
        background-color: $white;
    }
}

.to-do-list__items__item__text{
    flex-grow: 1;
}

.to-do-list__items__item__delete {
    color: $red;
}

.to-do-list__clear-all {
    align-self: flex-end;
    padding: 0.75em 1.25em;
    background-color: $light-orange;
    border: none;
    box-shadow: 1.5px 1.5px 6px;

    &:hover {
        background-color: $dark-orange;
    }

    &:active {
        box-shadow: 1px 1px 6px;
    }
}