$font-stack: Verdana, Geneva, Tahoma, sans-serif;

$font-small: 1rem;
$font-medium: 1.25rem;

$light-purple: #9381FF;
$light-blue: #B8B8FF;
$light-orange: #FFA970;
$red: #D62828;



* {
    box-sizing: border-box;
}

.to-do-list {
    font-family: $font-stack;
}

.to-do-list__container {
    background-color: $light-purple;
}

.to-do-list__input {
    input[type=text] {
        border-radius: 20px;
    }
    
    input[type=submit] {
        color: $light-blue;
    }
}

.to-do-list__items {
    input[type=checkbox]:checked {
        background-color: black;
    }
}

.to-do-list__items__item__text {
    display: inline;
}